.background{
background-image: url('video.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.systemSet{
    border: 3px solid red;
    height: 580px;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#rightHalf{
    border: 3px solid blue;
    height: 580px;
    width: 300px;
}

#smallControl{
    border: 3px solid red;
    height: 280px;
    width: 100%;
    position: relative;
    font-size: 30px;
}

#smallerSpace{
    border: 3px solid orange;
    height: 50%;
    width: 100%;
    font-size: 80px;
    text-align: center;
}

#reloadDiv{
    border: 3px solid orange;
    height: 50%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    background-image: url('Reload-Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.consoleBox{
    border: 3px solid orange;
    height: 580px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.textBox{
    border: 3px solid green;
    height: 70px;
    width: 500px;
    font-size: 55px;
    text-align: center;
}

#wordOut{

}

.central{
    border: 3px solid blue;
    position: relative;
    height: 500px;
    width: 500px;
}

.box {
  width: 100px;
  height: 150px;
  position: absolute;
  left: 200px;
  top: 0px;
  transform-origin: center 250px;
}
#box-1 {
  background-color:red;
  transform: rotate(40deg);
}
#box-2 {
  background-color:green;
  transform: rotate(20deg);
}
#box-3 {
  background-color:blue;
  transform: rotate(0deg);
}
#box-4 {
  background-color:yellow;
  transform: rotate(-20deg);
}

#box-5 {
  background-color:red;
  transform: rotate(-40deg);
}
#box-6 {
  background-color:green;
  transform: rotate(-60deg);
}
#box-7 {
  background-color:blue;
  transform: rotate(-80deg);
}
#box-8 {
  background-color:yellow;
  transform: rotate(-100deg);
}
#box-9 {
  background-color:red;
  transform: rotate(-120deg);
}
#box-10 {
  background-color:green;
  transform: rotate(-140deg);
}
#box-11 {
  background-color:blue;
  transform: rotate(-160deg);
}
#box-12 {
  background-color:yellow;
  transform: rotate(-180deg);
}

#box-13 {
  background-color:red;
  transform: rotate(-200deg);
}
#box-14 {
  background-color:green;
  transform: rotate(-220deg);
}
#box-15 {
  background-color:blue;
  transform: rotate(-240deg);
}
#box-16 {
  background-color:yellow;
  transform: rotate(-260deg);
}
#box-17 {
  background-color:red;
  transform: rotate(-280deg);
}
#box-18 {
  background-color:green;
  transform: rotate(-300deg);
}

.levelTwo{
    border: 3px solid pink;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.levelTwoBox{
    width: 100px;
    height: 150px;
}

.levelTwoTopRight{
    border: 3px solid red;
    height: 280px;
    width: 100%;
    position: relative;
    font-size: 30px;
}

.levelTwoBottomRight{
    border: 3px solid orange;
    height: 50%;
    width: 100%;
    font-size: 80px;
    text-align: center;
}